special-vendored-path/* linguist-vendored
* linguist-detectable=true
*.html linguist-detectable=false
*.jsp linguist-language=Java Server Pages
*.css linguist-detectable=true
*.xml linguist-detectable=true
*.pyx linguist-language=Cython


linguist-language=XML
linguist-language=css
