body {
	width: 1024px;
	text-align: center;
	margin: 0 auto;
}
#frutta {
	width: 720px;
	height:250px;
	align: center;
	background:url(../immagini/frutta.jpg) no-repeat fixed center center;
}
#dprod{
	width:130px;
	height:90px;
	text-align:right;
	float:right;
}
#dprodotto{
	width:150px;
	height:200px;
	text-align:right;
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	list-style:none;
	float:right;
}	
#dprod a{
	text-decoration:none;
}	
#dprod a:hover, #dprod a:active, #dprod a:focus {
	color:#F00;
}	
#dcontent{
	width:1024px;
	overflow:hidden;
}
#dmenus {
	text-align:left;
	float:left;
	overflow:hidden;
	width:200px;
}
#menus {
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	list-style:none;
	width:200px;
	color:#000;
}
#menus li{
	display:block;
	text-decoration:none;
}
#menus a {
	display:block;
	text-decoration:none;
}
#menus a:hover, #menus a:active, #menus a:focus {
	color:#F00;
}
#menus a:link, #menus a:visited {
	color:#000
}
#dtesto {
	width:560px;
	text-align:center;
	float:left;
}
#dtesto1{
	color:#228B22;
	width:824px;
    text-align:center;
    float:left;
	font-style:italic;
}
#dtesto2{
	color:#000080;
	width:824px;
    text-align:center;
    float:left;
	font-style:italic;
}
h1{
	text-align:center;
}
#menuNav {
	font-size:0.9em;
	background:#fff;
	color:#000;
	margin:9;
	padding:6px 0 5 px 0;
	border-bottom:1px solid #000;
	border-bottom-style:inset;
	border bottom-color:red
	text-align:center;
}
#menuNav li {
	display:inline;
}
#menuNav a {
	height:0;
	padding:5px 0.7em;
	border:1px solid #000;
	text-decoration:none;
	margin:-6px 0.3em;
	white-space:nowrap;
}
#menuNav .voceCorrente a {
	border-bottom:none;
	padding-bottom:6px;
}
#menuNav a:link, #menuNav a:visited {
	background:#FFF;
	color:#666;
}
#menuNav a:hover, #menuNav a:focus, #menuNav a:active {
	background:#eee;
	color:#000;
}
#menuNav .voceCorrente a:link, #menuNav .voceCorrente a:visited, #menuNav .voceCorrente a:hover, #menuNav .voceCorrente a:focus, #menuNav .voceCorrente a:active {
	background:#fff;
	color:#000;
	border-bottom:none;
	padding-bottom:6px;
}
#dConsorzio{
	text-align:center;
	overflow:hidden;
	}
li{
	text-align:left;
	}	
#dProdotto{
	width:299px;
	text-align:center;
	overflow:hidden;
	color:#48D1CC;
}